/* ########################################
############# CUSTOM FONTS ################
###########################################
/* Provide variable fonts as main format. */
@font-face {
  /* Use VF to make it distinguishable from static fonts. */
  font-family: 'Overpass VF';
  src:
    local('Overpass'),
    url('/assets/fonts/Overpass/Overpass-VariableFont_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/Overpass/Overpass-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/Overpass/Overpass-VariableFont_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  font-weight: 400 700;
  /* Displaying text quickly is a top priority, but ensure the custom web-font is used. */
  font-display: swap;
}

/* Provide static fonts as a fallback. */
@font-face {
  font-family: 'Overpass';
  src:
    local('Overpass'),
    url('/assets/fonts/Overpass/static/Overpass-Regular.woff2') format('woff2'),
    url('/assets/fonts/Overpass/static/Overpass-Regular.woff') format('woff'),
    url('/assets/fonts/Overpass/static/Overpass-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Overpass';
  src:
    local('Overpass'),
    url('/assets/fonts/Overpass/static/Overpass-Bold.woff2') format('woff2'),
    url('/assets/fonts/Overpass/static/Overpass-Bold.woff') format('woff'),
    url('/assets/fonts/Overpass/static/Overpass-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* ########################################
############# STYLE GUIDE #################
######################################## */
:root {
  --neutral-50: 0 0% 100%;
  --neutral-200: 215 10% 68%;
  --color-accent: #ab5d11;
  --color-neutral-50: #ffffff;
  --color-neutral-200: #a5acb6;
  --color-neutral-400: #272e37;
  --color-neutral-600: #1f2630;
  --color-neutral-800: #1a1e25;
  --color-neutral-900: #141419;
  --color-error: #ff3531;

  --font-body: 0.9375rem;
  --font-heading: 1.5rem;

  --gradient-neutral: linear-gradient(
    to bottom,
    var(--color-neutral-600),
    var(--color-neutral-800)
  );

  --rounded-full: 9999px;
  --spacing: 2rem;
  --transition-duration-timing: 150ms ease-out;
  --animation-duration-timing: 300ms linear;
}

/* ########################################
############# RESET #######################
######################################## */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

fieldset {
  appearance: none;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}

/* ########################################
############# BASIC STYLING ###############
######################################## */
body {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-200);
  font-size: var(--font-body);
  /* Use static fonts by default... */
  font-family: 'Overpass', sans-serif;
  /*...but prefer loading variable font if supported (feature query). */
  @supports (font-variation-settings: normal) {
    font-family: 'Overpass VF', sans-serif;
  }
}

h1 {
  color: var(--color-neutral-50);
  font-size: var(--font-heading);
  letter-spacing: 1px;
}

/* ########################################
########### COMPONENT STYLING #############
######################################## */
.wrapper {
  padding-block: var(--spacing);
  min-height: 100dvh;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

.page-container {
  --max-width: 24em;
  --border-radius: 1rem;

  padding: var(--spacing);
  margin-inline: auto;
  width: min(90%, var(--max-width));
  overflow: hidden;
  background: var(--gradient-neutral);
  border-radius: var(--border-radius);

  @media (min-width: 37.5em) {
    --max-width: 27em;
    --border-radius: 2rem;
  }
}

.page-content {
  --animation-duration: 300ms;
  & h1 {
    margin-block: calc(0.25 * var(--spacing));
  }
}

.page-rating {
  & header {
    margin-bottom: calc(0.75 * var(--spacing));
  }
  &.fading-out {
    @media (prefers-reduced-motion: no-preference) {
      animation: fade-out var(--animation-duration) ease-in;
    }
  }
  & .thumbnail-container {
    --padding: 1em;

    display: inline-block;
    width: fit-content;
    padding: var(--padding);
    aspect-ratio: 1;
    background-color: var(--color-neutral-400);
    border-radius: var(--rounded-full);

    @media (min-width: 37.5em) {
      --padding: 1.25em;
    }
  }
  & .radio-group {
    &:disabled {
      & .form-radio {
        cursor: not-allowed !important;
      }
      & .form-radio:hover,
      .form-radio:has(input[type='radio']:is(:focus-visible, :hover)) {
        outline: none;
        background-color: var(--color-neutral-400);
        color: var(--color-neutral-200);
      }
    }
  }
  & .form-radios {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .form-radio {
    --width: 2.8em;

    flex-basis: var(--width);
    /* width: 100%; */
    aspect-ratio: 1;
    display: grid;
    place-items: center;

    background-color: var(--color-neutral-400);
    border-radius: var(--rounded-full);
    cursor: pointer;
    line-height: 1;
    transition: var(--transition-duration-timing);

    /* Compensate for the font's vertical offset. */
    & span.label {
      margin-top: 4px;
    }
    /* &:is(:hover) { */
    &:is(:hover) {
      color: var(--color-neutral-50);
      background-color: var(--color-accent);
    }
    &:has(input[type='radio']:is(:focus-visible, :hover)) {
      background-color: var(--color-accent);
      outline: 2px solid var(--color-neutral-50);
      outline-offset: 2px;
      color: var(--color-neutral-50);
    }
    &:has(input[type='radio']:checked) {
      background-color: var(--color-neutral-200);
    }
    &:has(input[type='radio']:checked) {
      color: var(--color-neutral-50);
    }
    @media (min-width: 37.5em) {
      --width: 3.5em;
    }
  }
  & .error-message {
    margin-top: calc(0.5 * var(--spacing));
    color: var(--color-error);
  }
  & .form-btn {
    margin-top: calc(0.75 * var(--spacing));
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(0.25 * var(--spacing));
    background-color: var(--color-accent);
    border-radius: var(--rounded-full);
    color: var(--color-neutral-50);
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;

    &:is(:focus-visible, :hover) {
      color: var(--color-accent);
      background-color: var(--color-neutral-50);
    }
    &:focus-visible {
      outline-color: var(--color-accent);
      outline-offset: 2px;
    }
    &[disabled] {
      cursor: not-allowed;
      color: hsla(var(--neutral-50) / 0.7);
      background-color: hsla(var(--neutral-200) / 0.3);
    }
  }
}

.page-thank-you {
  display: grid;
  justify-items: center;
  gap: var(--spacing);
  text-align: center;
  @media (prefers-reduced-motion: no-preference) {
    animation: fade-in var(--animation-duration) ease-out;
  }
  & header {
    order: 2;
    & h1 {
      margin-top: 0;
    }
  }
  & .pill {
    padding: 0.5em 1.5em;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: var(--color-neutral-400);
    border-radius: var(--rounded-full);
    color: var(--color-accent);
  }
}

.footer {
  text-align: center;
  & .footer-icon {
    color: var(--color-accent);
  }
  & .footer-link {
    transition: var(--transition-duration-timing);
    &,
    &:link {
      color: var(--color-neutral-50);
      text-underline-offset: 4px;
    }
    &:visited {
      color: var(--color-neutral-200);
    }
    &:focus-visible {
      outline-color: var(--color-accent);
      outline-offset: 2px;
      color: var(--color-accent);
      text-decoration: none;
    }
    &:hover {
      color: var(--color-accent);
    }
    &:active {
      color: var(--color-neutral-50);
    }
  }
}

.no-script-container {
  order: 1;
}

.no-script {
  margin-top: var(--spacing);
  padding: var(--spacing);
  background: var(--gradient-neutral);
  border-radius: 8px;
  outline: 1px solid var(--color-error-dark);
  color: var(--color-error);
}

@media (min-width: 37.5em) {
  :root {
    --font-body: 1rem;
    --font-heading: 1.85rem;
    --spacing: 2.5rem;
  }
}

/* ########################################
############### UTILITIES #################
######################################## */
/* Hide visually but preserve accessibility. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /*  Defines a rectangle at the specified inset distances from each side of the reference box. */
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.loader {
  width: 1em;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: var(--rounded-full);
  border: 2px solid var(--color-neutral-50);
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

.hidden {
  display: none;
}

/* ########################################
############### ANIMATION ################
######################################## */
@keyframes fade-out {
  to {
    opacity: 0;
    translate: calc(-1 * var(--spacing));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    translate: var(--spacing);
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
